DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=swichers
PORT=3001
ANTHROPIC_API_KEY=sk-ant-...
UPLOAD_DIR=./uploads
ADMIN_PASSWORD_HASH=$2b$10$PKl47yiXePb4W4nQ0pqR5.w/6hwxmRqqhsFGoj97BaOlcoqTjxJ02
JWT_SECRET=a1148259be413006885db964eae61ef3e3af92e304f05bf8286f4ac842d8d675b783d3f6edc79d38918b42b055e0a084
